.container {
		  width: 100%;
		}
		section, aside {
		  margin: 10px;
		  border: 1px solid red;
		}
		section {
		  float: left;
		  width: 340px;
		}
		aside {
		  float: right;
		  width: 158px;
		}
